@model List<TourWeb.Models.Tour>

<section class="trending-destinations">
    <div class="auto-container">
        
        <div class="title-box centered">
            <div class="subtitle">Top Destinations</div>
            <h2><i class="bg-vector"></i><span>Trending Destinations</span></h2>
        </div>
        <div class="gallery-box">
            <div class="masonry-container row clearfix">
                <!--Block-->
                <div class="dest-block-one masonry-item col-lg-8 col-md-12 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box"><a href="#"><img src="/images/resource/gallery-1.jpg" alt=""></a></div>
                        <div class="hvr-box">
                            <div class="cap-box">
                                <div class="cap-inner clearfix">
                                    <h4><a href="tours.html">@Model[0].Name</a></h4>
                                    <div class="tour-count"><span>15 Tours</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Block-->
                <div class="dest-block-one masonry-item column-width col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box"><a href="#"><img src="/images/resource/gallery-2.jpg" alt=""></a></div>
                        <div class="hvr-box alt-hvr">
                            <div class="cap-box">
                                <div class="cap-inner clearfix">
                                    <h4><a href="tours.html">ByCan</a></h4>
                                    <div class="tour-count"><span>2 Tours</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Block-->
                <div class="dest-block-one masonry-item col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box"><a href="#"><img src="/images/resource/gallery-3.jpg" alt=""></a></div>
                        <div class="hvr-box">
                            <div class="cap-box">
                                <div class="cap-inner clearfix">
                                    <h4><a href="tours.html">Sapa</a></h4>
                                    <div class="tour-count"><span>5 Tours</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Block-->
                <div class="dest-block-one masonry-item col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box"><a href="#"><img src="/images/resource/gallery-4.jpg" alt=""></a></div>
                        <div class="hvr-box">
                            <div class="cap-box">
                                <div class="cap-inner clearfix">
                                    <h4><a href="tours.html">China</a></h4>
                                    <div class="tour-count"><span>9 Tours</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Block-->
                <div class="dest-block-one masonry-item column-width col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box"><a href="#"><img src="/images/resource/gallery-5.jpg" alt=""></a></div>
                        <div class="hvr-box alt-hvr">
                            <div class="cap-box">
                                <div class="cap-inner clearfix">
                                    <h4><a href="tours.html">Hymalia</a></h4>
                                    <div class="tour-count"><span>5 Tours</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Block-->
                <div class="dest-block-one masonry-item col-lg-8 col-md-12 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box"><a href="#"><img src="/images/resource/gallery-6.jpg" alt=""></a></div>
                        <div class="hvr-box">
                            <div class="cap-box">
                                <div class="cap-inner clearfix">
                                    <h4><a href="tours.html">USA</a></h4>
                                    <div class="tour-count"><span>7 Tours</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>