@model List<TourWeb.Models.Account>

<section class="team-section">

    <div class="floated-icon left"><img src="/images/resource/team-icon-left.svg" alt="" title=""></div>
    <div class="floated-icon right"><img src="/images/resource/stones-right.svg" alt="" title=""></div>
    <div class="auto-container">
        <div class="title-box centered">
            <h2><span>Meet Our Tour Guide</span></h2>
        </div>
        <div class="carousel-box">
            <div class="team-carousel owl-theme owl-carousel">
                @foreach (var member in Model)
                {
                    <div class="team-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="image"><a href="/About/TeamMember/@member.Id"><img src="/images/@member.ImagePath" alt="" title=""></a></div>
                            </div>
                            <div class="lower-box">
                                <h4><a href="#">@member.Name</a></h4>
                                <div class="designation">@member.Role</div>
                                <div class="phone">
                                    <a href="#" class="theme-btn call-btn"><i class="icon"><img src="/images/icons/phone-call.svg" alt="" title=""></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>
